<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ElementUi</title>
    <!-- 引入样式 -->
    <!--绝对路径，项目启动后可以访问-->
    <link rel="stylesheet" href="/css/elementui.css">
    <script src="/js/vue.js"></script>
    <script src="/js/vue-router.js"></script>
    <script src="/js/elementui.js"></script>
    <script src="/js/axios.min.js"></script>

</head>
<body>
<div id="app">
    <router-view></router-view>
</div>
<style>
    .el-header {
        background-color: #307ECC;
        color: #333;
        text-align: center;
        line-height: 38px;
    }

    .el-footer {
        background-color: #EFF3F8;
        color: #333;
        text-align: center;
        line-height: 50px;
    }

    .el-button {
        background: #6FB3E0;
    }


</style>
</body>
<template id="incomedisHead">
    <div>
        <el-container>
            <el-header height="40px" text-align: right>
                <el-row :gutter="0">
                    <el-col :span="3">
                        <font color="#FFFFFF">手工收益分配列表</font>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-folder-add" size="mini" @click="addDetails">新增
                        </el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-edit" size="mini" @click="editDetails">修改</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-refresh" size="mini" @click="refreshData">刷新</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="deleteData">删除</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="editDetail">编辑明细</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="subForApproval">提交审批
                        </el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="approve">通过</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="withdraw">撤回</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="sendBack">退回</el-button>
                    </el-col>
                </el-row>
            </el-header>
            <el-main>
                <el-table
                        v-loading="loading"
                        ref="singleTable"
                        :data="tableData"
                        border
                        highlight-current-row
                        @current-change="handleCurrentChange2"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            property="asOfDate"
                            label="数据日期">
                    </el-table-column>
                    <el-table-column
                            property="orgId"
                            label="机构">
                    </el-table-column>
                    <el-table-column
                            property="statusName"
                            label="状态">
                    </el-table-column>
                    <el-table-column
                            property="createBy"
                            label="录入人">
                    </el-table-column>
                    <el-table-column
                            property="approvedBy"
                            label="审核人">
                    </el-table-column>
                    <el-table-column
                            property="description"
                            label="摘要">
                    </el-table-column>
                </el-table>
            </el-main>
            <el-footer height="50px">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="10"
                        background
                        prev-text="上一页"
                        next-text="下一页"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="PageCondition.pageCount">
                </el-pagination>
            </el-footer>
        </el-container>
    </div>
</template>

<template id="addIncomedisHead">
    <div style="float: left; width: 100%;">
        <el-form v-loading="loading2" :model="form" :rules="rules" ref="ruleForm" label-position="left"
                 label-width="80px">
            <el-form-item label="数据日期" prop="asOfDate">
                <el-date-picker type="month" placeholder="选择日期" v-model="form.asOfDate" format="yyyy 年 MM 月"
                                value-format="yyyy-MM-dd"
                                style="width: 250px;"></el-date-picker>
            </el-form-item>
            <el-form-item label="机构" prop="orgId">
                <el-select
                        v-model="form.orgId"
                        filterable
                        remote
                        reserve-keyword
                        placeholder="请输入机构号或机构名称进行搜索"
                        :remote-method="remoteMethod"
                        :loading="loading"
                        clearable
                        style="width: 250px;">
                    <el-option
                            v-for="item in options"
                            :key="item.code"
                            :label="item.code+item.name"
                            :value="item.code+item.name">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="摘要" prop="description" style="width: 600px;">
                <el-input type="textarea" v-model="form.description"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">保存</el-button>
                <el-button type="primary" @click="resetForm('ruleForm')">重置</el-button>
                <el-button type="primary" @click="returnDetailsPage">返回</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<template id="incomedisDetails">
    <div>
        <el-container>
            <el-header height="40px" text-align: right>
                <el-row :gutter="0">
                    <el-col :span="3">
                        <font color="#FFFFFF">手工收益分配列表</font>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-folder-add" size="mini" @click="returnDetailsPage">返回
                        </el-button>
                    </el-col>
                    <!--<el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-folder-add" size="mini" @click="addDetails">新增
                        </el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-edit" size="mini">修改</el-button>
                    </el-col>-->
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-refresh" size="mini" @click="refreshData">刷新</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="deleteData">删除</el-button>
                    </el-col>
                    <el-col :span="1.3">
                        <el-button type="primary" icon="el-icon-delete" size="mini" @click="">导入</el-button>
                    </el-col>
                </el-row>

            </el-header>
            <el-main>
                <el-table
                        ref="singleTable"
                        :data="tableData"
                        border
                        highlight-current-row
                        @current-change="handleCurrentChange2"
                        style="width: 100%">
                    <el-table-column
                            type="index"
                            width="50">
                    </el-table-column>
                    <el-table-column
                            property="asOfDate"
                            label="数据日期">
                    </el-table-column>
                    <el-table-column
                            property="bsProductCode"
                            label="业务系统产品">
                    </el-table-column>
                    <el-table-column
                            property="allocationPeriod"
                            label="分配期间">
                    </el-table-column>
                    <el-table-column
                            property="accountCode"
                            label="会计科目编码">
                    </el-table-column>
                    <el-table-column
                            property="currency"
                            label="币种">
                    </el-table-column>
                    <el-table-column
                            property="allocationType"
                            label="分配类型">
                    </el-table-column>
                    <el-table-column
                            property="summary"
                            label="摘要">
                    </el-table-column>
                    <el-table-column
                            property="allocationPeriod"
                            label="分配方向标识">
                    </el-table-column>
                    <el-table-column
                            property="disOrgLev"
                            label="分配机构层级">
                    </el-table-column>
                    <el-table-column
                            property="disOrgCode"
                            label="分配机构编码">
                    </el-table-column>
                    <el-table-column
                            property="disLobState"
                            label="分配条线标识">
                    </el-table-column>
                    <el-table-column
                            property="disLobCode"
                            label="分配条线编码">
                    </el-table-column>
                    <el-table-column
                            property="disProdState"
                            label="分配产品标识">
                    </el-table-column>
                    <el-table-column
                            property="disProdCode"
                            label="分配产品编码">
                    </el-table-column>
                    <el-table-column
                            property="disIndicator"
                            label="分配指标">
                    </el-table-column>
                    <el-table-column
                            property="disAmount"
                            label="分配规模（虚拟）">
                    </el-table-column>
                    <el-table-column
                            property="initiatingDepartment"
                            label="发起部门">
                    </el-table-column>
                    <el-table-column
                            property="processState"
                            label="流程标识">
                    </el-table-column>
                </el-table>
            </el-main>
            <el-footer height="50px">
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="10"
                        background
                        prev-text="上一页"
                        next-text="下一页"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="PageCondition.pageCount">
                </el-pagination>
            </el-footer>
        </el-container>
    </div>
</template>

<template id="addDetails">
    <div style="float: left; width: 100%;">
        <el-form :model="form" :rules="form" ref="ruleForm" label-position="left">
            <el-form-item label="数据日期">
                <el-date-picker type="date" placeholder="选择日期" v-model="form.asOfDate"
                                style="width: 100%;"></el-date-picker>
            </el-form-item>
            <el-form-item label="业务系统编码" style="width: 50%;">
                <el-input v-model="form.bsProductCode"></el-input>
            </el-form-item>
            <el-form-item label="会计科目编码" style="width: 50%;">
                <el-input v-model="form.accountCode"></el-input>
            </el-form-item>
            <el-form-item label="币种">
                <el-radio-group v-model="form.currency">
                    <el-radio label="人民币"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="分配类型">
                <el-radio-group v-model="form.allocationType">
                    <el-radio label="收入分配"></el-radio>
                    <el-radio label="差错更正"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="摘要">
                <el-input type="textarea" v-model="form.summary"></el-input>
            </el-form-item>
            <el-form-item label="分配方向">
                <el-radio-group v-model="form.disDirectionState">
                    <el-radio label="分入方"></el-radio>
                    <el-radio label="分出方"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="分配机构层级">
                <el-select v-model="form.disOrgLev" placeholder="分配机构层级">
                    <el-option label="总行" value="shanghai"></el-option>
                    <el-option label="一级分行" value="beijing"></el-option>
                    <el-option label="二级分行" value="beijing"></el-option>
                    <el-option label="一级支行" value="beijing"></el-option>
                    <el-option label="二级支行" value="beijing"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="分配机构编码" style="width: 50%;">
                <el-input v-model="form.disOrgCode"></el-input>
            </el-form-item>
            <el-form-item label="分配条线标识">
                <el-radio-group v-model="form.disLobState">
                    <el-radio label="分入条线"></el-radio>
                    <el-radio label="分出条线"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="分配条线编码" style="width: 50%;">
                <el-input v-model="form.disLobCode"></el-input>
            </el-form-item>
            <el-form-item label="分配产品标识">
                <el-radio-group v-model="form.disProdState">
                    <el-radio label="分入产品"></el-radio>
                    <el-radio label="分出产品"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="分配产品编码" style="width: 50%;">
                <el-input v-model="form.disProdCode"></el-input>
            </el-form-item>
            <el-form-item label="分配指标" style="width: 50%;">
                <el-input v-model="form.disIndicator"></el-input>
            </el-form-item>
            <el-form-item label="分配金额" style="width: 50%;">
                <el-input v-model="form.disAmount"></el-input>
            </el-form-item>
            <el-form-item label="分配规模（虚拟）" style="width: 50%;">
                <el-input v-model="form.disScale"></el-input>
            </el-form-item>
            <el-form-item label="发起部门" style="width: 50%;">
                <el-input v-model="form.initiatingDepartment"></el-input>
            </el-form-item>
            <el-form-item label="流程标识" style="width: 50%;">
                <el-input v-model="form.processState"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="onSubmit">立即创建</el-button>
                <el-button type="primary">重置</el-button>
                <el-button>返回</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>


<script>
    const incomedisHead = {
        template: '#incomedisHead',//用来定义组件html内容
        data() {
            return {
                loading: true,
                tableData: [],
                currentPage: 1,
                currentRow: {},
                PageCondition: {
                    page: 1,
                    rows: 10,
                    pageCount: 0,
                }
            }
        },
        methods: {
            //分页插件pageSize改变
            handleSizeChange(pageSize) {
                if (pageSize != null) {
                    this.PageCondition.rows = pageSize;
                }
                this.getPage();
            },
            //修改
            editDetails() {
                if (this.currentRow.rowId == null) {
                    this.$message({
                        message: '请选择要修改的数据',
                        type: 'warning'
                    });
                } else if (this.currentRow.statusName === "通过") {
                    this.$message({
                        message: '通过状态的数据不允许修改',
                        type: 'warning'
                    });
                } else {
                    this.$router.push({
                        name: 'addIncomedisHead',
                        /*query: {
                            rowId: this.currentRow.rowId,
                        }*/
                        query: this.currentRow
                    })
                }
            },
            addDetails() {
                this.$router.push({name: "addIncomedisHead"});
            },
            //分页当前每页数据量变化
            handleCurrentChange(currentRow) {
                if (currentRow != null) {
                    this.PageCondition.page = currentRow;
                }
                //重新加载页面数据
                this.getPage();
                //console.log(`当前页: ${r'${val}'}`);
            },
            //获取单选选中的行信息
            handleCurrentChange2(currentRow) {
                if (currentRow != null) {
                    this.currentRow = currentRow;
                }
            },
            refreshData() {
                this.getPage();
            },
            deleteData() {
                if (this.currentRow.rowId == null) {
                    this.$message({
                        message: '请选择要删除的数据',
                        type: 'warning'
                    });
                } else if (this.currentRow.statusName === "通过") {
                    this.$message({
                        message: '通过状态的数据不允许删除',
                        type: 'warning'
                    });
                } else {
                    this.$alert("确认要删除此条数据？", "消息提示", {
                        confirmButtonText: '确定',
                        callback: action => {
                            if (action === 'confirm') {
                                axios.get('/ANNE_NEW/incomedisDetails/delete.html?rowId=' + this.currentRow.rowId)
                                    .then(res => {
                                        this.getPage();
                                    });
                            }
                        }
                    });
                }
            },
            getPage() {
                axios.post('/ANNE_NEW/incomedisDetails/page.html', this.PageCondition)
                    .then(res => {
                        this.tableData = res.data.list;
                        this.PageCondition.page = res.data.pageCurrent;
                        this.PageCondition.rows = res.data.pageSize;
                        this.PageCondition.pageCount = res.data.count;
                        this.loading = false;
                    });
            },
            //编辑明细
            editDetail() {
                this.$router.push({
                    name: 'incomedisDetails',
                    query: this.currentRow
                })
            },
            open(message) {
                this.$alert(message, "消息提示", {
                    confirmButtonText: '确定',
                    /*callback: action => {
                        this.$message({
                            type: 'info',
                            message: `action: ${r'${action}'}`
                        });
                    }*/
                });
            },
            //提交审批
            subForApproval() {
                this.$alert("确认要提交审批？", "消息提示", {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action === 'confirm') {
                            axios.post('/ANNE_NEW/incomedisDetails/subForApproval.html', this.currentRow)
                                .then(res => {
                                    if (res.data.resultstatus === 'fail') {
                                        this.open(res.data.message);
                                    } else {
                                        this.getPage();
                                    }
                                });
                        }
                    }
                });
            },
            //提交审批
            approve() {
                this.$alert("确认要通过审批？", "消息提示", {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action === 'confirm') {
                            axios.post('/ANNE_NEW/incomedisDetails/approve.html', this.currentRow)
                                .then(res => {
                                    if (res.data.resultstatus === 'fail') {
                                        this.open(res.data.message);
                                    } else {
                                        this.getPage();
                                    }
                                });
                        }
                    }
                });
            },
            //审批撤回
            withdraw() {
                this.$alert("确认要撤回吗？", "消息提示", {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action === 'confirm') {
                            axios.post('/ANNE_NEW/incomedisDetails/withdraw.html', this.currentRow)
                                .then(res => {
                                    if (res.data.resultstatus === 'fail') {
                                        this.open(res.data.message);
                                    } else {
                                        this.getPage();
                                    }
                                });
                        }
                    }
                });
            },
            //审批回退
            sendBack() {
                this.$alert("确认要回退吗？", "消息提示", {
                    confirmButtonText: '确定',
                    callback: action => {
                        if (action === 'confirm') {
                            axios.post('/ANNE_NEW/incomedisDetails/sendBack.html', this.currentRow)
                                .then(res => {
                                    if (res.data.resultstatus === 'fail') {
                                        this.open(res.data.message);
                                    } else {
                                        this.getPage();
                                    }
                                });
                        }
                    }
                });
            },
        },
        created() {
            this.getPage();
        }
    };

    const incomedisDetails = {
        template: '#incomedisDetails',//用来定义组件html内容
        data() {
            return {
                tableData: [],
                currentPage: 1,
                currentRow: {},
                PageCondition: {
                    page: 1,
                    rows: 10,
                    pageCount: 0,
                }
            }
        },
        methods: {
            returnDetailsPage() {
                this.$router.push({name: "incomedisHead"});
            },
            handleSizeChange(pageSize) {
                if (pageSize != null) {
                    this.PageCondition.rows = pageSize;
                }
                this.getPage();
            },
            addDetails() {
                this.$router.push({name: "addDetails"});
            },
            handleCurrentChange(currentRow) {
                if (currentRow != null) {
                    this.PageCondition.page = currentRow;
                }
                this.getPage();
            },
            handleCurrentChange2(currentRow) {
                if (currentRow != null) {
                    this.currentRow = currentRow;
                }
            },
            refreshData() {
                console.log(this.$route.query.rowId);
                this.getPage(this.$route.query.rowId);
            },
            deleteData() {
                axios.get('/ANNE_NEW/incomedis/delete.html?rowId=' + this.currentRow.rowId)
                    .then(res => {
                        this.getPage();
                        // console.log("1");
                    });
                //console.log("2");

            },
            getPage(headRowId) {
                axios.post('/ANNE_NEW/incomedis/page.html?headRowId=' + headRowId, this.PageCondition)
                    .then(res => {
                        this.tableData = res.data.message.list;
                        this.PageCondition.page = res.data.message.pageCurrent;
                        this.PageCondition.rows = res.data.message.pageSize;
                        this.PageCondition.pageCount = res.data.message.count;
                    });
            }
        },
        created() {
            this.getPage(this.$route.query.rowId);
        }
    };

    const addDetails = {
        template: '#addDetails',//用来定义组件html内容
        data() {
            return {
                form: {
                    asOfDate: '',
                    bsProductCode: '',
                    allocationPeriod: '',
                    accountCode: '',
                    currency: '',
                    allocationType: '',
                    summary: '',
                    disDirectionState: '',
                    disOrgLev: '',
                    disOrgCode: '',
                    disLobState: '',
                    disLobCode: '',
                    disProdState: '',
                    disProdCode: '',
                    disIndicator: '',
                    disAmount: '',
                    disScale: ''
                }
            }
        },
        methods: {
            onSubmit() {
                axios.post('/ANNE_NEW/incomedis/save.html', this.form
                )
                    .then(function (response) {
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            returnDetailsPage() {
                this.$router.push({name: "incomedisDetails"});
            }
        },
        created() {

        }
    };

    const addIncomedisHead = {
        template: '#addIncomedisHead',//用来定义组件html内容
        data() {
            return {
                options: [],
                loading: true,
                loading2: true,
                form: {
                    asOfDate: '',
                    orgId: '',
                    description: ''
                },
                rules: {
                    asOfDate: [
                        {type: 'string', required: true, message: '请选择日期', trigger: 'change'}
                    ],
                    orgId: [
                        {required: true, message: '请选择机构', trigger: 'change'}
                    ],
                    description: [
                        {required: true, message: '请填写摘要', trigger: 'blur'}
                    ]
                }
            }
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        this.onSubmit()
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            //提交表单
            onSubmit() {
                if (this.form.rowId) {
                    axios.post('/ANNE_NEW/incomedisDetails/update.html', this.form)
                        .then(res => {
                            this.$router.push({name: "incomedisHead"});
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                } else {
                    axios.post('/ANNE_NEW/incomedisDetails/save.html', this.form
                    )
                        .then(res => {
                            console.log("成功返回");
                            this.$router.push({name: "incomedisHead"});
                        })
                        .catch(function (error) {
                            console.log(error);
                        });
                }
            },
            //重置表单
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },
            //返回
            returnDetailsPage() {
                this.$router.push({name: "incomedisHead"});
            },
            //获取下拉框数据
            remoteMethod(query) {
                if (query !== '') {
                    this.loading = true;
                    setTimeout(() => {
                        axios.post('/ANNE_NEW/field/member/fieldMemberCombox.html?code=ORG_ID&level=1,2,3,4,5&search=' + query)
                            .then(res => {
                                this.options = res.data.message;
                                this.loading = false;
                            });

                    }, 200);
                } else {
                    this.options = [];
                }
            },

        },
        created() {
            /*console.log(this.$route.params);
            console.log(this.$route.query);*/
            //判断是否是通过修改按钮进入页面
            if (this.$route.query.rowId) {
                axios.get('/ANNE_NEW/incomedisDetails/getHead.html?rowId=' + this.$route.query.rowId)
                    .then(res => {
                        this.form = res.data;
                        this.loading2 = false;
                    });
            }else {
                this.loading2 = false;
            }
        }
    };

    const notfound = {
        template: "<div><h1>当前页面访问路径错误</h1></div>"
    };
    //创建路由对象并定义路由规则
    const router = new VueRouter({
        routes: [
            {path: '/incomedisDetails', name: "incomedisDetails", component: incomedisDetails}, //用来定义具体的某个组件路由规则  path: 用来指定对应请求路径  component:指定路径对应的组件
            {path: '/incomedisHead', name: "incomedisHead", component: incomedisHead},
            {path: '/addDetails', name: "addDetails", component: addDetails},
            {path: '/addIncomedisHead', name: "addIncomedisHead", component: addIncomedisHead},
            {path: '/', redirect: '/incomedisHead'},
            {path: '*', component: notfound},
        ] //用来定义一些列规则
    });
    new Vue({
        el: '#app',
        data() {
            return {}
        },
        methods: {},
        router: router,//用来注册路由配置
    })
</script>

